asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.4
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-genai==1.16.0
gunicorn==23.0.0
psycopg2-binary==2.9.11
pyaes==1.6.1
pyasn1==0.6.3
python-decouple==3.8
rsa==4.9.1
sqlparse==0.5.5
Telethon==1.43.1
